*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/*
www/coolmarks/bower_components
www/coolmarks/node_modules
www/coolmarks/js/app.js
*~
www/coolmarks/.sass-cache/
project/target/*
project/project/*
lib/*
*.iml
elkdata/*
*.swp
