@media (min-width: 768px)
.bs-glyphicons {
    margin-right: 0;
    margin-left: 0;
}

.bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden;
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}

.bs-glyphicons-list li{
    float: left;
    border: 15px solid transparent;
}

.markItem{
    border-radius: 20%;
    width: 200px; 
    height: 200px;
    color: darkslategrey; 
    background-image: -webkit-linear-gradient(top, #FF5A00 0%, #FFAE00 100%);
    background-image: -moz-linear-gradient(top, #FF5A00 0%, #FFAE00 100%);
    background-image: -ms-linear-gradient(top, #FF5A00 0%, #FFAE00 100%);
    background-image: -o-linear-gradient(top, #FF5A00 0%, #FFAE00 100%);
    background-image: linear-gradient(top, #FF5A00 0%, #FFAE00 100%);
}
.markItem div{
    width: 100%;
}
.markItem .glyphicon{
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 10px 45px 10px 0;
}

.markBlock:hover{
    transition: background-color 0.2s ease;
    border-radius: 20%;
    background-color: #6f5499;
}

.markInfo {
    padding: 5px;
    text-align:center; 
    height: 30%;
    font-size: 20px;
}

.markItem a {
    text-decoration: none;
}

.markBlock hr {
    margin-top: 0px; 
    margin-bottom: 0px; 
}
.markUrl {
    text-align: center;
    padding-top: 50px;
    height: 70%;
    font-size: 15px;
}

body {
    background-image: url(/assets/img/background.png);
}

.container {
    padding: 20px;
}

.tab {
    color: white;
}

.tabs {
    list-style: none;
}

.marks {
    margin-top: 18px
}
.statistical iframe {
    width: 100%;
}
.manager {
    z-index: 999;
    float: right;
    margin-top: 50px;
    margin-right: 70px;
}

.tool-btn {
    width: 80px;
}
