<html>
<script src="./js/app.js"></script>
<script src="./js/controller/siny_controller.js"></script>
<script src="./js/service/siny_service.js"></script>

<link rel=stylesheet type=text/css href="./assets/css/style.css">
<link rel=stylesheet type=text/css href="./assets/css/coolmarks.css">
<link rel="shortcut icon" href="./assets/img/snoopy.ico">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<title>Cool Marks, Your Own Marks</title>

<body ng-app="siny" ng-controller="sinyCtrl">
<div class="manager">
  <nav class="navbar navbar-light bg-faded">
    <a id="modal-795914" href="#modal-container-795914" role="button" class="tool-btn btn btn-success"
      data-toggle="modal">Mark</a>
  </nav>
  <nav>
    <a id="modal-795915" href="#modal-container-795915" role="button" class="tool-btn btn btn-success"
      data-toggle="modal">AddTab</a>
  </nav>
</div>
<div class="container">
  <div class="role">
    <div class="col-md-12" role="main">
      <input ng-model="searchBookMark" type="text" class="form-control">

      <div class="marks">
        <ul class="tabs nav nav-tabs">
          <li ng-repeat="(tab, bookmarks) in user.bookmark"
          ng-class="{'active': tab === 'My Indeed' }">
          <a href="#{{ bookmarks.id }}" data-toggle="tab">
            {{ tab }}
          </a>
          </li>
        </ul>
        <div id="tabContent" class="tab-content">
          <div ng-show="searchBookMark">
            <ul class="bs-glyphicons-list"
              ng-repeat="(tab, bookmarks) in user.bookmark | filter:searchBookMark">
              <li ng-repeat="bookmark in bookmarks.marks | orderBy:'-created_at' | filter:searchBookMark">
              <div class="markItem">
                <i class="glyphicon fa fa-trash fa-2x"
                  ng-click="removeMarkItem(user, tab, $index)"></i>
                <a href="{{bookmark.url}}" target="_blank">
                  <div class="markBlock">
                    <div class="markUrl">
                      {{bookmark.url | limitTo: 25}}
                      <p ng-bind="bookmark.created_at | date:'yyyy/MM/dd'"></p>
                    </div>
                    <hr/>
                    <div class="markInfo">
                      {{bookmark.name | limitTo: 20}}
                    </div>
                  </div>
                </a>
              </div>
              </li>
            </ul>
          </div>
          <div ng-repeat="(tab, bookmarks) in user.bookmark"
            class="tab-pane fade in" id="{{ bookmarks.id }}"
            ng-show="!searchBookMark"
            ng-class="{'active': tab === 'My Indeed' }">
            <div ng-if="tab === 'My Indeed'">
              <div class="statistical">
                <iframe src="http://tracemarker.com:5601/#/dashboard/coolmarks?embed&_a=(filters:!(),panels:!((col:1,id:tag_statistic,row:4,size_x:12,size_y:2,type:visualization),(col:1,columns:!(_source),id:Last-24-hours,row:6,size_x:12,size_y:2,sort:!(created_at,desc),type:search),(col:1,id:vertical_bar_bookmarks,row:1,size_x:12,size_y:3,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:coolmarks)&_g=(refreshInterval:(display:Off,pause:!f,section:0,value:0),time:(from:now-1y,mode:quick,to:now))" height="1000" width="800"></iframe>
              </div>
            </div>
            <div ng-if="tab !== 'My Indeed'">
              <ul class="bs-glyphicons-list">
                <li ng-repeat="bookmark in bookmarks.marks | orderBy:'-created_at'">
                <div class="markItem">
                  <i class="glyphicon fa fa-trash fa-2x"
                    ng-click="removeMarkItem(user, tab, $index)"></i>
                  <a href="{{bookmark.url}}" target="_blank">
                    <div class="markBlock">
                      <div class="markUrl">
                        {{bookmark.url | limitTo: 25}}
                        <p ng-bind="bookmark.created_at | date:'yyyy/MM/dd'"></p>
                      </div>
                      <hr/>
                      <div class="markInfo">
                        {{bookmark.name | limitTo: 20}}
                      </div>
                    </div>
                  </a>
                </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal fade" id="modal-container-795914" role="dialog" aria-labelledby="addBookMark" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="addBookMark">Append A BookMark</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="bookmarkName">BookMark Name</label>
              <input type="text" ng-model="bookmarkName" id="bookmarkName" class="form-control">
            </div>
            <div class="form-group">
              <label for="bookmarkUrl">BookMark Address</label>
              <input type="text" ng-model="bookmarkUrl" id="bookmarkUrl" class="form-control">
            </div>
            <div class="form-group">
              <label for="bookmarkUrl">BookMark Tab</label>
              <select ng-model="bookmarkTab" id="bookmarkTab" class="form-control">
                <option ng-repeat="(tab, bookmarks) in user.bookmark" ng-if="tab != 'All'"
                value='{"name": "{{tab}}", "id": "{{bookmarks.id}}" }'>{{ tab }}
                </option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal"
            ng-click='append(user, bookmarkName, bookmarkUrl, bookmarkTab)'
            class="btn btn-primary">Append
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-container-795915" role="dialog" aria-labelledby="addTab" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="addTab">Add A Tab</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="bookmarkName">Tab Name</label>
              <input type="text" ng-model="tabName" id="tabName" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal"
            ng-click='addTab(user, tabName)'
            class="btn btn-primary">Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
